@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

/* HEADER */
header {
  background-color: rgb(25, 25, 112);
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo {
  margin-right: 20px;
  margin-left: 40px;
}

.logo img {
  width: 50px;
  height: 50px;
}

.site-name h1 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin: 0;
}

.donate-button {
  margin-left: auto;
  margin-right: 40px;
}

.donate-button .btn {
  background-color: rgb(25, 25, 112);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.donate-button .btn:hover {
  background-color: #fff;
  color: rgb(25, 25, 112);
}

/* NAVBAR */
nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-left ul {
  margin-left: 40px;
}

.nav-left ul li {
  margin-right: 80px;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
}

.nav-right ul {
  margin-right: 40px;
}

.nav-right img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.nav-right ul {
  display: flex;
  align-items: center;
}

.nav-right ul li {
  margin: 0px;
}

nav ul li a:hover {
  color: rgb(25, 25, 112);
}

/* PROFIL */
.profile-section {
  margin-top: 10px;
  padding: 20px;
  background-color: #f7f7f7;
  display: flex;
  align-items: flex-start;
}

.profile-sidebar {
  flex: 1;
  margin-right: 20px;
  margin-left: 40px;
}

.profile-image img {
  width: 300px;
  height: 300px;
}

.profile-sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.profile-sidebar ul li {
  margin-bottom: 55px;
}

.profile-sidebar ul li a {
  display: block;
  color: #000;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.profile-sidebar ul li a:hover {
  text-decoration: underline;
}

.profile-info {
  flex: 2;
  margin-right: 40px;
}

.profile-info h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.profile-info form {
  margin-top: 20px;
}

.profile-info .form-group {
  margin-bottom: 15px;
}

.profile-info .form-group label {
  display: block;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
}

.profile-info .form-group input,
.profile-info .form-group textarea,
.profile-info .form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

.profile-info .form-group textarea {
  height: 100px;
}

.profile-info input[type="submit"] {
  background-color: rgb(25, 25, 112);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.profile-info input[type="submit"]:hover {
  background-color: #fff;
  color: rgb(25, 25, 112);
}





