* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    border-bottom: 3px solid #cccccc;
    display: flex;
    align-items: center;
    padding: 20px;
}
  
.site-name h1 a {
    color: rgb(20, 40, 80);
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-left: 60px;
    text-decoration: none;
}
  
.donate-button {
    margin-left: auto;
    margin-right: 60px;
}
  
.donate-button .btn {
    background-color: rgb(20, 40, 80);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
  
.donate-button .btn:hover {
    background-color: #fff;
    color: rgb(20, 40, 80);
}
 
/* NAVBAR */
nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(169, 169, 169, 0.8);
}
  
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
  
.nav-left ul {
    margin-left: 60px;
}
  
.nav-left ul li {
    margin-right: 65px;
}
  
nav ul li a {
    color: rgb(20, 40, 80);
    text-decoration: none;
    font-size: 15px;
}
  
.nav-right ul {
    margin-right: 60px;
  }
  
.nav-right img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
  
.nav-right ul {
    display: flex;
    align-items: center;
}
  
.nav-right ul li {
    margin: 0px;
}
  
nav ul li a:hover {
    color: rgb(20, 40, 80);
}

.teks-logo {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.judul {
  display: inline-block;
  margin: 0 auto;
  color:rgb(20, 40, 80);
}


/* CONTENT */
.details-section {
  background-color: #f2f2f2;
}

.centered-text {
  text-align: center;
  padding: 40px;
}

.donation-content {
  background-color: #fff;
  border: 1px solid #000;
  margin: 20px auto;
  padding: 60px;
  text-align: center;
  width: 90%;
  max-width: 1500px;
  display: flex;
}

.left-content {
  flex: 1;
}

.right-content {
  flex: 1;
}

.amount-box {
  margin-top: 50px;
}

.details-title,
.amount-title,
.payment-title,
.payment-section-title {
  padding: 10px;
}

.details-box h2,
.amount-box h2,
.payment-box h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.payment-section {
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  display: block;
  margin-top: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea,
form select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.checkbox input[type="checkbox"] {
  margin-right: 10px;
  margin-top: 10px;
}

.amount-buttons,
.payment-buttons {
  display: flex;
  flex-direction: column;
}

.amount-button,
.payment-button {
  background-color: rgb(20, 40, 80);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
  max-width: 200px;
}

.payment-row {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
}

.amount-button:hover,
.payment-button:hover {
  background-color: #fff;
  color: rgb(20, 40, 80);
}

.payment-section-title{
    background-color: #f2f2f2;
}

.bottom-content {
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donation {
  margin-bottom: 10px;
}

.donate-button2 {
  background-color: rgb(20, 40, 80);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  margin-top: 40px;
}

.donate-button2:hover {
  background-color: #fff;
  color: rgb(20, 40, 80);
}



  
/* FOOTER */
footer {
    position: relative;
    overflow: hidden;
    margin-top: 125px;
}

.footer-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background-color: #000;
    z-index: -1;
}
  
.upper-part {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

hr {
    z-index: 1;
    color: #fff;
}
  
.bottom-part {
    position: relative;
    z-index: 1;
}

.company-name {
    flex-grow: 1;
}

.company-name h3 {
    color: #fff;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    float: right;
    gap: 100px;
}

.footer-nav a {
    text-decoration: none;
    color: #fff;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
}

.social-media img {
    width: 35px;
}

.copyright p {
    justify-content: center;
    text-align: center;
    color: #fff;
}

.figure {
    position: relative;
    top : 50%;
    left : 30%;
}

.figure-caption {
    color: rgb(20, 40, 80);
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-left: 60px;
    text-decoration: none;
}