.signin-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.signin-info {
    text-align: center;
}

.signin-title {
    border-radius: 5px;
}

.signin-info .form-group {
    margin-bottom: 15px;
}

.signin-info .form-group label {
    display: block;
    margin-bottom: 5px;
}

.signin-info .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signin-info .form-group button[type="submit"] {
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
}

.signin-info .form-group button[type="submit"]:hover {
    background-color: #e0e0e0;
}

.signin-title {
    background-color: #f2f2f2;
    padding: 10px;
}
.center-element {
    margin: 0 auto;
}

.form-group form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group label {
    display: block;
    margin-top: 10px;
}

.form-inline {
    display: flex;
    align-items: center;
}
.form-inline input[type="checkbox"] {
    margin-right: 5px;
}
.signup-text {
    margin-top: 20px;
    text-align: center;
}
.signup-text a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
}
.signup-text a:hover {
    background-color: #e0e0e0;
}