@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

/* HEADER */
header {
  background-color: #ffffff;
  border-bottom: 3px solid #cccccc;
  display: flex;
  align-items: center;
  padding: 20px;
}

.site-name h1 a{
  color: rgb(20, 40, 80);
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  margin-left: 60px;
}

.donate-button {
  margin-left: auto;
  margin-right: 60px;
}

.donate-button .btn {
  background-color: rgb(20, 40, 80);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.donate-button .btn:hover {
  background-color: #fff;
  color: rgb(20, 40, 80);
}

/* NAVBAR */
nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-left ul {
  margin-left: 60px;
}

.nav-left ul li {
  margin-right: 65px;
}

nav ul li a {
  color: rgb(20, 40, 80);
  text-decoration: none;
  font-size: 15px;
}

.nav-right ul {
  margin-right: 60px;
}

.nav-right img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.nav-right ul {
  display: flex;
  align-items: center;
}

.nav-right ul li {
  margin: 0px;
}

nav ul li a:hover {
  color: rgb(20, 40, 80);
}

/* PROFIL */
.profile-section {
  margin-top: 10px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
}

.profile-sidebar {
  flex: 1;
  margin-right: 20px;
  margin-left: 60px;
}

.profile-image img {
  width: 300px;
  height: 300px;
}

.profile-sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.profile-sidebar ul li {
  margin-bottom: 20px;
}

.profile-sidebar ul li a {
  display: block;
  color: #000;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

.profile-sidebar ul li.profile-option.active {
  background-color: #e8e8e8;
}

.profile-sidebar ul li.profile-option:hover {
  background-color: #e8e8e8;
}

.profile-sidebar ul li.profile-option a:hover {
  text-decoration: underline;
}

.profile-info {
  flex: 2;
  margin-right: 40px;
}

.profile-info h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* ACTIVITY */
.activity-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 25px;
  background-color: #e8e8e8;
}

.activity-icon img {
  width: 50px;
  height: 50px;
  margin-right: 60px;
  margin-left: 40px;
}

.activity-details {
    flex: 1;
}

.activity-details p {
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.activity-stats {
    display: flex;
    align-items: center;
}
  
.activity-stats p {
    margin-right: 10px;
}