* {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 75px;
    background-color: rgb(25, 25, 128);
}

.navbar a {
    font-size: 25px;
    color: #fff;
}

.navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.vision-desc, .our-goals, .our-teams {
    margin-top: 125px;
}

.our-goals h1, .our-teams h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    border-style: solid;
    border-width: 15px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-color: darkblue;
}

.our-community .card {
    height: 600px;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.our-community .card img {
    width: 100%;
    height: auto;
}

.our-community .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.75);
}

.our-community .card-img-overlay h1 {
    margin: 0 100px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 185px;
    margin: 0 100px;
}

.our-community .card-img-overlay h5 {
    text-align: center;
    font-weight: lighter;
    position: relative;
    top: 210px;
    margin: 0 150px;
}

.our-community .card-img-overlay button {
    position: relative;
    top: 260px;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.vision {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.vision-desc {
    margin-top:125px;
    margin-bottom: 30px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.60);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.vision img {
    margin: 0;
    width: 100%;
    height: 500px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.goals {
    display: flex;
    flex-direction: row;
    gap: 100px;
    text-align: center;
    justify-content: center;
}

.goals img {
    width: 300px;
}

.mission-desc {
    max-width: 300px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.60);
}

.mission-desc h5 {
    margin: 0;
    color: #fff;
}

.front-end-dev, .web-designer {
    display: flex;
    flex-direction: row;
    gap: 250px;
    text-align: center;
    justify-content: center;
}

.front-end-dev img, .web-designer img {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.image-body {
    max-width: 200px;
}

.image-footer {
    margin-top: auto;
}

footer {
    position: relative;
    overflow: hidden;
    margin-top: 125px;
}

.footer-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: #000;
    z-index: -1;
}
  
.upper-part {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

hr {
    z-index: 1;
    color: #fff;
}
  
.bottom-part {
    position: relative;
    z-index: 1;
}

.company-name {
    flex-grow: 1;
}

.company-name h3 {
    color: #fff;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    float: right;
    gap: 100px;
}

.footer-nav a {
    text-decoration: none;
    color: #fff;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
}

.social-media img {
    width: 35px;
}

.copyright p {
    justify-content: center;
    text-align: center;
    color: #fff;
}
