* {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 75px;
    background-color: rgb(25, 25, 128);
}

.navbar a {
    font-size: 25px;
    color: #fff;
}

.navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.vision-desc, .our-goals, .our-teams {
    margin-top: 125px;
}

.our-goals h1, .our-teams h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    border-style: solid;
    border-width: 15px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-color: darkblue;
}

.our-community .card {
    height: 600px;
    overflow: hidden;
}

.our-community .card img {
    width: 100%;
    height: auto;
}

.our-community .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.75);
}

.our-community .card-img-overlay h1 {
    margin: 0 100px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 185px;
    margin: 0 100px;
}

.our-community .card-img-overlay h5 {
    text-align: center;
    font-weight: lighter;
    position: relative;
    top: 210px;
    margin: 0 150px;
}

.our-community .card-img-overlay button {
    position: relative;
    top: 260px;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.vision-desc {
    justify-content: center;
    text-align: center;
    margin:125px 200px;
}

.mission-desc {
    text-align: center;
    margin-left:200px;
    margin-right: 200px;
}

.mission-content {
    justify-content: center;
}

.mission-content button {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.mission-content .card {
    width: 650px;
    border-radius: 0;
}

.mission-content .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.75);
}

.front-end-dev, .web-designer {
    flex-direction: row;
    gap: 250px;
    text-align: center;
    justify-content: center;
}

.image-body {
    max-width: 200px;
}
