@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

/* HEADER */
header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  border-bottom: 3px solid #cccccc;
  display: flex;
  align-items: center;
  padding: 20px;
  z-index: 100;
}

.site-name h1 a{
  color: rgb(20, 40, 80);
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  margin-left: 60px;
}

.donate-button {
  margin-left: auto;
  margin-right: 60px;
}

.donate-button .btn {
  background-color: rgb(20, 40, 80);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.donate-button .btn:hover {
  background-color: #fff;
  color: rgb(20, 40, 80);
}

/* NAVBAR */
nav {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-left ul {
  margin-left: 60px;
}

.nav-left ul li {
  margin-right: 65px;
}

nav ul li a {
  color: rgb(20, 40, 80);
  text-decoration: none;
  font-size: 15px;
}

.nav-right ul {
  margin-right: 60px;
}

.nav-right img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.nav-right ul {
  display: flex;
  align-items: center;
}

.nav-right ul li {
  margin: 0px;
}

nav ul li a:hover {
  color: rgb(20, 40, 80);
}

/* Details Section */
.details-section {
    background-color: #f2f2f2;
}

.centered-text {
    text-align: center;
    padding: 40px;
}
  
.details-box {
    background-color: #fff;
    border: 1px solid #000;
    margin: 20px auto;
    padding: 80px;
    text-align: center;
    width: 80%;
    max-width: 500px;
}

.details-title {
    background-color: #f2f2f2;
    padding: 10px;
}
  
.details-box h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
  
.details-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.details-box label {
    display: block;
    margin-top: 10px;
}
  
.details-box input[type="text"],
.details-box input[type="email"],
.details-box input[type="tel"],
.details-box textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.checkbox {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
  
.checkbox input[type="checkbox"] {
    margin-right: 10px;
    margin-top: 10px;
}
  
.details-box button {
    background-color: rgb(20, 40, 80);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-top: 60px;
}
  
.details-box button:hover {
    background-color: #fff;
    color: rgb(20, 40, 80);
}
  
  