* {
    margin: 0;
    padding: 0;
}

header {
  background-color: #ffffff;
  border-bottom: 3px solid #cccccc;
  display: flex;
  align-items: center;
  padding: 20px;
}

.site-name h1 a{
  color: rgb(20, 40, 80);
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  margin-left: 60px;
  text-decoration: none;
}

.donate-button {
  margin-left: auto;
  margin-right: 60px;
}

.donate-button .btn {
  background-color: rgb(20, 40, 80);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.donate-button .btn:hover {
  background-color: #fff;
  color: rgb(20, 40, 80);
}

/* NAVBAR */
nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(169, 169, 169, 0.8);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-left ul {
  margin-left: 60px;
}

.nav-left ul li {
  margin-right: 65px;
}

nav ul li a {
  color: rgb(20, 40, 80);
  text-decoration: none;
  font-size: 15px;
}

.nav-right ul {
  margin-right: 60px;
}

.nav-right img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.nav-right ul {
  display: flex;
  align-items: center;
}

.nav-right ul li {
  margin: 0px;
}

nav ul li a:hover {
  color: rgb(20, 40, 80);
}

.breaking-news, .latest-news, .our-event, .top-rated {
    margin-top: 125px
}

.activity h1, .breaking-news h1, .latest-news h1, .our-event h1, .top-rated h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    border-style: solid;
    border-width: 15px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-color: rgb(20, 40, 80);
}

.activity img, #carouselExampleIndicators {
    width: 1100px;
    height: 650px;
}

.activity .carousel-caption {
    background-color: rgb(0, 0, 0, 0.5);
    padding: 10px;
}

.breaking-news .card {
    width: 400px;
    border: none;
}

.breaking-news .card img {
    width: 400px;
}

.top-rated .list-group .card {
    border: none;
}

.content {
    display: flex;
    width: 1000px;
    height: 600px;
    background-color: #000;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer {
    position: relative;
    overflow: hidden;
    margin-top: 125px;
}

.footer-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background-color: #000;
    z-index: -1;
}
  
.upper-part {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

hr {
    z-index: 1;
    color: #fff;
}
  
.bottom-part {
    position: relative;
    z-index: 1;
}

.company-name {
    flex-grow: 1;
}

.company-name h3 {
    color: #fff;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    float: right;
    gap: 100px;
}

.footer-nav a {
    text-decoration: none;
    color: #fff;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
}

.social-media img {
    width: 35px;
}

.copyright p {
    justify-content: center;
    text-align: center;
    color: #fff;
}

@media (max-width: 767px) {
    .navbar-nav {
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.25)
    }
    
    .navbar-nav .nav-link {
        margin-bottom: 10px;
      }
    
    .navbar-toggler {
        margin-bottom: 10px;
      }

    .activity img, #carouselExampleIndicators {
        width: 100%;
        height: auto;
    }

    .activity .carousel-caption {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
