* {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 75px;
    background-color: rgb(25, 25, 128);
}

.navbar a {
    font-size: 25px;
    color: #fff;
}

.navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.community-data {
    height: 800px;
}

.community-data .card {
    height: 600px;
    overflow: hidden;
    background-image: url(https://images.pexels.com/photos/9037592/pexels-photo-9037592.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    z-index: -1;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.card-img-overlay h1 {
    position: relative;
    top: 200px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    color: #fff;
    justify-content: center;
    text-align: center;
}

.data-gather img {
    width: 75px;
}

.data-gather {
    background-color: #fff;
    justify-content: center;
    text-align: center;
    gap: 100px;
    position: relative;
    margin: 0 325px;
    border-radius: 30px;
    top: -75px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.data-amount h5 {
    margin-bottom: 0;
    font-weight: bold;
}

.on-going img, #carouselExampleIndicators {
    width: 1100px;
    height: 650px;
}

.on-going .carousel-caption {
    background-color: rgb(0, 0, 0, 0.5);
    padding: 10px;
}

.volunteer {
    margin-top: 125px;
}

footer {
    position: relative;
    overflow: hidden;
    margin-top: 125px;
}

.footer-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: #000;
    z-index: -1;
}
  
.upper-part {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

hr {
    z-index: 1;
    color: #fff;
}
  
.bottom-part {
    position: relative;
    z-index: 1;
}

.company-name {
    flex-grow: 1;
}

.company-name h3 {
    color: #fff;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    float: right;
    gap: 100px;
}

.footer-nav a {
    text-decoration: none;
    color: #fff;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
}

.social-media img {
    width: 35px;
}

.copyright p {
    justify-content: center;
    text-align: center;
    color: #fff;
}
