* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    border-bottom: 3px solid #cccccc;
    display: flex;
    align-items: center;
    padding: 20px;
}
  
.site-name h1 a{
    color: rgb(20, 40, 80);
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-left: 60px;
    text-decoration: none;
}
  
.donate-button {
    margin-left: auto;
    margin-right: 60px;
}
  
.donate-button .btn {
    background-color: rgb(20, 40, 80);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
  
.donate-button .btn:hover {
    background-color: #fff;
    color: rgb(20, 40, 80);
    border: 1px solid rgb(20, 40, 80);
}
  
  /* NAVBAR */
nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(169, 169, 169, 0.8);
}
  
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
  
.nav-left ul {
    margin-left: 60px;
}
  
.nav-left ul li {
    margin-right: 65px;
}
  
nav ul li a {
    color: rgb(20, 40, 80);
    text-decoration: none;
    font-size: 15px;
    transition: 0.2s;
}

nav ul li a:hover {
    font-size: 17px;
}
  
.nav-right ul {
    margin-right: 60px;
  }
  
.nav-right img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
  
.nav-right ul {
    display: flex;
    align-items: center;
}
  
.nav-right ul li {
    margin: 0px;
}
  
nav ul li a:hover {
    color: rgb(20, 40, 80);
}
  
.donation, .discussion {
    margin-top: 125px;
}

.ongoing-events h1, .donation h1, .discussion h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    border-style: solid;
    border-width: 15px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-color: rgb(20, 40, 80);
}


.community-data {
    height: 800px;
}

.community-data .card {
    height: 600px;
    overflow: hidden;
    background-image: url(https://images.pexels.com/photos/9037592/pexels-photo-9037592.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    z-index: -1;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.card-img-overlay h1 {
    position: relative;
    top: 200px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    color: #fff;
    justify-content: center;
    text-align: center;
}

.data-gather img {
    width: 75px;
}

.data-gather {
    background-color: #fff;
    justify-content: center;
    text-align: center;
    gap: 100px;
    position: relative;
    margin: 0 325px;
    border-radius: 30px;
    top: -75px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.data-amount h5 {
    margin-bottom: 0;
    font-weight: bold;
}

.events-volunteers {
    display: flex;
    justify-content: center;
    text-align: center;
}

.volunteers {
    flex: 1;
    position: relative;
}

.events {
    flex: 1;
    align-items: flex-start;
}

.video video {
    position: relative;
    left: -50px;
    width: 800px;
    height: 400px;
}

video::-webkit-media-controls {
    display: none;
}

video::-webkit-media-controls-enclosure {
    display: none !important;
}

video::-webkit-media-controls-overlay-play-button {
    display: none !important;
}

video::-webkit-media-controls-start-playback-button {
    display: none !important;
}

.video .overlay {
    position: relative;
    top: -405px;
    left: -5px;
    width: 710px;
    height: 400px;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.video:hover .overlay {
    display: flex;
    opacity: 1;
    cursor: pointer;
}

.video .overlay span {
    color: #fff;
    text-align: center;
}

.banner {
    position: absolute;
    left: 100px;
    width: 350px;
    height: 400px;
    align-items: center;
    background-color: rgb(20, 40, 80);
}

.banner-body {
    position: relative;
}

.banner-body h5, .banner-body p {
    line-height: 1.5;
    color: #fff;
}

.banner-body p {
    margin: 20px;
    text-align: left;
}

.banner-body button {
    text-transform: uppercase;
}

.donation-banner {
    background-color: #27496D;
    height: 300px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.donation-desc {
    position: relative;
    margin-top: 65px;
    margin-left: 30px;
}

.donation-image {
    height: 300px;
}

.desc-body {
    color: #fff;
}

.donation-image img {
    height: 300px;
}

/* Discussion */
.discussion-content {
    display: flex;
    flex-direction: column;
}

.discussion-item {
    display: flex;
    background-color: #ccc;
    margin-bottom: 20px;
    padding: 20px;
}

.image-container {
    width: 25%;
    margin-right: 20px;
}

.image-container img {
    width: 200px;
    height: 150px;
}

.discussion-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.discussion-stats {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.stat-view,
.stat-replies {
    font-size: 14px;
    margin: 0;
}

.discussion-text {
    margin-top: 10px;
    font-size: 14px;
    order: 3;
}

.see-all-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.see-all-button .btn {
    background-color: rgb(20, 40, 80);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.see-all-button .btn:hover {
    background-color: #fff;
    color: rgb(20, 40, 80);
}

/* FOOTER */
footer {
    position: relative;
    overflow: hidden;
    margin-top: 125px;
}

.footer-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background-color: #000;
    z-index: -1;
}
  
.upper-part {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

hr {
    z-index: 1;
    color: #fff;
}
  
.bottom-part {
    position: relative;
    z-index: 1;
}

.company-name {
    flex-grow: 1;
}

.company-name h3 {
    color: #fff;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    float: right;
    gap: 100px;
}

.footer-nav a {
    text-decoration: none;
    color: #fff;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
}

.social-media img {
    width: 35px;
}

.copyright p {
    justify-content: center;
    text-align: center;
    color: #fff;
}
